# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\nd079-c2-advanced-java-programming-techniques-projectstarter-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
